.p-about{
    text-align: center;
    width:auto;
    /* margin-left: 10px; */
    margin-right: 400px;
    
}

img { 
    /* padding:1px; */
    border:0px solid #ebc294;
    background-color: #ebc294;
 }